:root{
  --bg-color: rgb(80, 80, 80) ;
  --color1: rgb(0, 110, 255) ;
  --color2: rgb(0, 204, 255);
  --color3: rgb(46, 19, 13) ;
  --color4: rgb(255, 20, 20);
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(../assets/img/minetunnelimage.jpg) ;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  overflow: hidden;
  color: white;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

main .buttonDiv{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main .buttonDiv a{
  padding: 3vh 6vw;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  background: var(--color1);
  border-radius: 20px;
  outline: none;
  font-size: 2em;
  color: white;
  transition: 250ms;
  text-decoration: none;
}

main .buttonDiv a:hover{
  background: var(--color2);
  box-shadow: 0 0 30px var(--color2);
}

main .intro {
  position: absolute;
  text-align: center;
  top: 5vh;
}

main .intro h1{
  font-size: 3em;
  padding-bottom: 10px;
}


/*
************
GAME SECTION 
************
*/

.gameSec .container{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.gameSec .container .tutorialDiv,
.gameSec .container .scoreDiv{
  width: 20vw;
}



/******************************************
***************GAME BOARD******************
*******************************************/



.gameSec .container .gameDiv{
  position: relative;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameSec .container .gameDiv::after{
  content:'qualquer coisa';
  background-image: url(../assets/img/woodback.jpg);
  background-size: cover;
  width:100%;
  height: 70%;
  position: absolute;
  transform: scaleY(1.04) scaleX(1.02);
  z-index: -2;
  color: transparent;
  border-radius: 10px;
  border: 1px solid var(--color3);
}

.gameSec .container .gameDiv .limit{
  width:100%;
  height: 70%;
  transform: scaleY(1.04) scaleX(1.02);
  position: absolute;
  overflow: hidden;
}

.gameSec .container .gameDiv .limit::before{
  content: 'qualquer coisa';
  width: 100px;
  height: 2000px;
  background: white;
  filter: blur(40px);
  position: absolute;
  left: 45%;
  top: -100%;
  animation: spin 5s infinite linear;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.gameSec .container .gameDiv .gameButtons{
  position: absolute;
  bottom: 5vh;
}

.gameSec .container .gameDiv .gameButtons button{
  padding: 1vh 2vw;
  margin: 0 30px;
  cursor: pointer;
  border: none;
  background: var(--color1);
  border-radius: 20px;
  outline: none;
  font-size: 4vh;
  color: white;
  transition: 250ms;
}

.gameSec .container .gameDiv .gameButtons button:hover{
  background: var(--color2);
  box-shadow: 0 0 30px var(--color2);
}

.gameSec .container .gameDiv .gameWindow{
  position: relative;
  background-image: url(../assets/img/gamebg.jpg);
  background-size: cover;
  width:100%;
  height: 70%;
  border-radius: 10px;
  border: 1px solid var(--color3);
}

@keyframes pulse{
  0%{
    border: 7px solid var(--color3);
    box-shadow: 0 0 10px var(--color3);
  }
  50%{
    border: 7px solid rgb(250, 52, 52);
    box-shadow: 0 0 30px rgb(255, 46, 46);
  }
  100%{
    border: 7px solid var(--color3);
    box-shadow: 0 0 10px var(--color3);
  }
}

.gameSec .container .gameDiv .gameWindow .square{
  cursor: pointer;
  position: absolute;
  inset: 0% auto auto 0%;
  width: 7vh;
  height: 7vh;
  border-radius: 100%;
  display: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/******************************************
***************SCORE BOARD*****************
*******************************************/


.gameSec .container .scoreDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameSec .container .scoreDiv .tab{
  width: 85%;
  height: 70%;
  border-radius: 20px;
  background-image: url(../assets/img/woodtab.jpg);
  background-size: cover;
}

.gameSec .container .scoreDiv .tab img{
  width: 10vh;
  height: 10vh;
}

.gameSec .container .scoreDiv .tab .scorePoints,
.gameSec .container .scoreDiv .tab .lifePoints{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 2em;
}

.gameSec .container .scoreDiv .tab .scorePoints p,
.gameSec .container .scoreDiv .tab .lifePoints p{
  margin-top: 1vh;
}



























footer{
  position: fixed;
  inset: auto 0 0 0;
  background: black;
  color: white;
  text-align: center;
  
}